body{
    background-image: url(./img/i06ei9yk-720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.todo-container{
    position: relative;
    top: 30px;
    padding: 20px;
    margin: auto;
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    width: 500px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.todo-container > h1{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 35px;
    text-align: center;
    background: linear-gradient(90deg, #ec239f 0%, #1345e6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.todo-container > .todo-input{
    padding: 0px;
    background-color: #ffffff;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.todo-container > .todo-input div input{
    padding: 10px;
    outline: none;
    width: 380px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: none;
}
.todo-container > .todo-input div button{
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100px;
    background: linear-gradient(90deg, #ec239f 0%, #1345e6 100%);
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.todo-container > ul{
    height: 300px;
}
.todo-container > ul li{
    list-style-type: none;
    font-size: 20px;
    font-weight: 600;
    font-family: sans-serif;
    margin-top: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    position: relative;
    left: -20px;
}
.todo-container > ul li .all{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.todo-container > ul li button{
    background-color: red;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    font-family: sans-serif;
}
.todo-container > .lists{
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    background: linear-gradient(90deg, #ec239f 0%, #1345e6 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
